
@{
    Layout = null;
}

<footer id="footer" class="mainfooter mt-5" role="contentinfo">
    <div class="py-4">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h5>Contact Us</h5>
                        <address>
                            <ul class="list-unstyled">
                                <li>123 Humber Blvd, Toronto, ON</li>
                                <li>Phone: (416)123-4567</li>
                            </ul>
                        </address>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h5>Patients &amp; Visitor</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Patient Portal</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Contact Directory</a></li>
                            <li><a href="#">Forms</a></li>
                            <li><a href="#">News and Updates</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h5>About Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Foundation</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h5>Career and Volunteering</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Volunteering</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- End of row-->
        </div>
    </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-xs-center font-weight-bold text-warning">*Please note that this website is a part of the student projects and not a real hospital website.</p>
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row">
                <div class="col-xs-12">
                    <a href="@Url.Action("Login", "Home")" class="btn btn-danger btn-sm">Admin Login</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; @DateTime.Now.Year - HDH Project  All rights reserved.</p>
                </div>
            </div>
        </div>
</footer>
