
@{
    ViewBag.Title = "Registration Completed";
}

<h2>Registration Completed</h2>
<div class="my-4">
    <p>Thank you. Your account has been created.</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary ml-2 my-1 col-md-5">Login to Patient Portal</a>

</div>
