
@{
    ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2 class="text-center mb-5">Welcome Humber and District Hospital</h2>
<p>The Humber and District Hospital is a fully accredited modern, well-equipped Hospital that opened in its current location in 1975. It was originally a 132-bed Hospital and has been gradually downsized to 62 beds as follows: 6 Intensive Care, 41 Medical/Surgical, and 15 Continuing Complex Care.  The Hospital currently employs approximately 235 staff (135 full-time, 92 part-time and casual, and 11 management).</p>

<p>The Hospital provides emergency, general medicine, general surgery and pediatric services to the local community. It also provides a range of specialty and subspecialty diagnostic and therapeutic clinics.</p>

<p>The Hospital is supported by an active Auxiliary and Foundation; both organizations raise much-needed funds for Hospital equipment.</p>


<p>The Hospital is involved with the Northern Ontario Residency Training Program and physicians readily accept medical students for elective programs.</p>
<p>The visiting specialist program consists of: Neurology, Urology, Internal Medicine, Otolaryngology, Pediatrics, Psychiatry, Ophthalmology and Gynecology.</p>
<p>Support Services include:</p>
<ul>
    <li>Diagnostic Imaging</li>
    <li>Physiotherapy</li>
    <li>Respiratory Therapy</li>
    <li> Renal Dialysis (Satellite of Health Sciences North, Sudbury)</li>
    <li>Outpatient Chemotherapy (Satellite of Health Sciences North)</li>
</ul>




