
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PatientPortal/_PatientPortal.cshtml";
}

@model kdh.Models.Patient


@{
    ViewBag.Title = "Index";
}

<h2>Patient Portal Top</h2>

<div class="h5 my-4">
    Welcome, @Model.FirstName @Model.LastName
</div>


