
@{
    ViewBag.Title = "UpdateComplete";
    Layout = "~/Views/Shared/PatientPortal/_PatientPortal.cshtml";
}

<h2 class="mb-4">Update Complete</h2>

<p class="h5">Thank you, we have send an email to <span class="text-success font-weight-bold">@ViewBag.NewEmail</span>.</p>
<p class="h5">To change your password, please click the link in the email and update your password.</p>

